@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@400;500&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Montserrat", sans-serif;
}
body {
  background: linear-gradient(45deg, rgba(77, 7, 240, 0.9), rgba(1, 1, 1, 0.9));
}
* li,
* a {
  display: inline-block;
  list-style-type: none;
  text-decoration: none;
  margin: 13px;
  color: #eee;
}
nav img {
  width: 30px;
}
ul {
  margin-right: 30%;
}
nav {
  display: flex;
  align-items: center;
  justify-content: space-around;
  margin-top: 45px;
}

.humberger {
  width: 40px;
  height: 50px;
  display: flex;
  align-items: center;
  justify-content: center;
  display: none;
}
.bar {
  width: 35px;
  height: 5px;
  border-radius: 30px;
  background-color: #eee;
  position: relative;
  cursor: pointer;
}

.bar::before,
.bar::after {
  content: "";
  width: inherit;
  height: inherit;
  border-radius: inherit;
  background-color: #eee;
  position: absolute;
  cursor: pointer;
}

.bar::before {
  transform: translateY(9px);
}
.bar::after {
  transform: translateY(-9px);
}

@media screen and (max-width: 950px) {
  * li,
  * a {
    font-size: 80%;
  }
}
@media screen and (max-width: 900px) {
  ul {
    display: none;
  }
  .humberger {
    display: flex;
    margin-left: 40%;
  }
  * li,
  * a {
    font-size: 75%;
  }
  section img {
    width: 130%;
  }
}

nav > a {
  border: 2px solid rgba(71, 85, 134, 0.9);
  width: 150px;
  height: 50px;
  text-align: center;
  padding: 12px;
  border-radius: 40px;
}

nav > a:hover {
  background-color: purple;
  border: 2px solid purple;
  transition: 0.5s;
  font-size: 20px;
  padding: 9px;
  font-weight: 900;
}
li a:hover {
  color: palevioletred;
  margin: 10px;
  font-weight: 900;
  transition: 0.5s;
  font-size: 20px;
}

main {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 80%;
  margin: 50px auto;
}
.my2 {
  margin-top: 20px;
}
section img {
  width: 100%;
  cursor: pointer;
  transition: 0.75s;
}
section .img2 {
  display: inline-block;
  transform: perspective(1300px) rotatey(-20deg) translateZ(150px) scale(0.75);
  margin-left: 100px;
  border: 1px solid palevioletred;
  transition: 0.75s;
}

section {
  flex: 1;
}
.talk {
  padding: 20px;
}

.talk p,
.talk h1,
.talk a {
  margin: 20px;
  color: #eee;
}

.par {
  height: 2px;
  overflow: hidden;
}
.par.par2 {
  height: 200px;
  transition: 1s;
}

.talk a {
  display: inline-flex;
  justify-content: center;
  align-items: center;
  width: 200px;
  height: 50px;
  background-color: palevioletred;
  transition: 1s;
  border-radius: 30px;
}
